# ======================
# BACKEND
# ======================
venv/
venv_windows/
__pycache__/
*.pyc
.env

# ======================
# FRONTEND
# ======================
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env*
frontend/package-lock.json

# ======================
# IDE / OS
# ======================
.vscode/
.idea/
.DS_Store
backend/app.log
